<%-include ("partials/top") %>
<div class="row space">
  <div class="col-12">
    <form action='<%= "/students/compute-result?student_id=" + student._id %>' method="POST">
      <div>
        <% if (success_msg && error_msg.length > 0) { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong><%= error_msg %></strong> 
          </div>
          <script>
            $(".alert").alert();
          </script>
        <% } %>
      </div>
      <div>
        <% if (success_msg && success_msg.length > 0) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong><%= success_msg %></strong> 
          </div>
          <script>
            $(".alert").alert();
          </script>
        <% } %>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <div>
            <strong>Student Name:</strong>
            <p><%= student.surname + ', ' + student.first_name + ' ' + student.middle_name %></p>
          </div>
          <div>
            <strong>Student Registration Number:</strong>
            <p><%= student.reg_no %></p>
          </div>
          <div>
            <strong>Department:</strong>
            <p><%= student.department %></p>
          </div>
        </div>

        <div class="pr-4">
          <img class="img img-responsive" src='<%= "/images/" + student.photo %>' style="height: 112px; width: 92px; border-radius: 15px;">
        </div>
      </div>
      
      <fieldset class="border p-2 rounded row">
        <input type="hidden" name="student_reg_no" value='<%= student.reg_no %>'>
        <div class="form-group col-12">
          <label>100 Level C.G.P.A.:</label>
          <input required type="text" name="level_1_cgpa" class="form-control">
        </div>
        <div class="form-group col-12">
          <label>200 Level C.G.P.A.:</label>
          <input required type="text" name="level_2_cgpa" class="form-control">
        </div>
      </fieldset>
      
      <div class="form-group mt-4">
        <button class="btn btn-success form-control" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

</main>

<%-include ("partials/bottom") %>